/* .MuiDateTimePickerToolbar-dateContainer .MuiTypography-root {
  color: white;
} */

/* .MuiDateTimePickerToolbar-timeContainer .MuiTypography-root {
  color: white;
} */

/* .MuiDateTimePickerToolbar-dateContainer .MuiTypography-root.Mui-selected {
  color: blanchedalmond;
} */
/* 
.MuiDateTimePickerToolbar-timeContainer .MuiTypography-root.Mui-selected {
  color: blanchedalmond;
} */

/* targeting toolbar datecontainer */
.whiteThemeDatePicker
  .MuiDialog-container
  .MuiPaper-root
  .MuiDialogContent-root
  .MuiDateTimePickerToolbar-dateContainer
  .MuiTypography-root {
  color: aqua;
}

/* targeting toolbar timecontainer */
.whiteThemeDatePicker
  .MuiDialog-container
  .MuiPaper-root
  .MuiDialogContent-root
  .MuiDateTimePickerToolbar-timeContainer
  .MuiTypography-root {
  color: aqua;
}

/* targeting toolbar datecontainer  selected vals*/
.whiteThemeDatePicker .Mui-selected {
  color: blanchedalmond !important;
}
